body {
    background-color: #0d0d0d; /* Tmavší pozadí */
    color: #ffffff;
}

.navbar {
    background-color: #1a1a1a; /* Tmavší navbar */
}

.navbar-item,
.navbar-burger span {
    color: #ffffff;
}

/* Moderní stylování odkazů v navbaru */
.navbar-item {
    font-size: 1.1rem; /* Zmenšená velikost textu */
    padding: 0.5rem 1rem; /* Zmenšené paddingy */
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Přechodový efekt */
}

.navbar-item:hover {
    background-color: #00d1b2;
    color: #ffffff !important;
}

.navbar-item.is-active {
    background-color: #3273dc;
    color: #ffffff !important;
    font-weight: bold;
}

.title {
    text-transform: uppercase;
}

.title, .subtitle {
    color: #ffffff;
}

.hero {
    background-color: #0d0d0d; /* Tmavší hero sekce */
}

.hero-body {
    display: flow !important;
}

a {
    color: #3273dc;
}

a:hover {
    color: #4a90e2;
}

.image-container {
    display: flex;
    justify-content: center; /* Horizontálně vycentrováno */
    align-items: center;     /* Vertikálně vycentrováno */
    height: 350px;           /* Nastavte požadovanou výšku */
    width: 100%;             /* Plná šířka */
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

/* Stylování atributů */
.attributes {
    display: grid;
    grid-template-columns: 1fr; /* Dvě sloupce */
    gap: 0.5rem;                      /* Mezera mezi sloupci a řádky */
    margin-top: 2rem;
    text-align: left;               /* Zarovnáno doleva */
    padding-bottom: 2rem;
}

.attribute {
    display: flex;
    justify-content: space-between; /* Rozložení názvu a hodnoty */
}

.attribute-name {
    font-weight: bold;
    color: #aaaaaa;                 /* Světlejší barva pro názvy atributů */
}

.attribute-value {
    color: #ffffff;                 /* Bílá barva pro hodnoty atributů */
}

/* Stylování tabulky */
.table-container {
    margin-top: 2rem;
}

.small-table-container {
    max-width: 1000px;
    margin: 2rem auto;
}

.small-form-container {
    max-width: 600px;
    margin: 0 auto;
}

.table.is-dark {
    background-color: #1a1a1a; /* Tmavší pozadí tabulky */
    color: #ffffff;
}

.table.is-dark th, .table.is-dark td {
    border-color: #2a2a2a;
}

.table.is-dark thead th {
    background-color: #2a2a2a;
    color: #ffffff;
}

.table.is-dark tbody tr:hover {
    background-color: #d1fff8;
    color: #333333;
    cursor: pointer;
}

.table.is-dark.is-reservation tbody tr:hover {
    background-color: #d1fff8;
    color: #333333;
    cursor: pointer;
}

.table.is-dark thead th {
    background-color: #2a2a2a;
    color: #cccccc;
}

/* EDIT */
form {
    background-color: #1a1a1a;
    padding: 2rem;
    border-radius: 8px;
}

.label {
    color: #aaaaaa; /* Světlejší barva pro názvy polí */
}

.input, .textarea, .select select {
    background-color: #2a2a2a;
    border: none;
    color: #ffffff;
}

.select.is-fullwidth {
    width: 100%; /* Plná šířka pro select */
}

.input::placeholder, .textarea::placeholder {
    color: #aaaaaa;
}

.field.is-grouped.is-grouped-justified .control:first-child {
    margin-right: auto;
}

.button.is-primary {
    /*width: 200px;*/
}

.button.is-fullwidth {
    display: flex;
    width: 100% !important;
}

.box {
    background-color: #292929; /* Slightly lighter dark color for the box */
    border: 1px solid #333333;
}

.hover-underline:hover {
    text-decoration: underline;
}

.notification.is-theroom {
    background-color: #00d1b2;
    color: white;
}
