<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Detail</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<section class="hero is-dark is-fullheight">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="/images/logo.png" alt="theRoom-logo" style="max-height: 8rem;">
          </a>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-large" th:if="${#authorization.expression('!isAuthenticated()')}" th:href="@{/tournaments/}">Turnaje</a>
            <a class="navbar-item is-large" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_USER'')')}" th:href="@{/tournaments/}">Turnaje</a>
            <a class="navbar-item is-large" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_ADMIN'')')}" th:href="@{/tournaments/}">Správa turnajů</a>
            <a class="navbar-item is-large" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_USER'')')}" th:href="@{/registrations/}">Moje rezervace</a>
            <a class="navbar-item is-large" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_ADMIN'')')}" th:href="@{/registrations/admin}">Správa rezervací</a>
            <a class="navbar-item is-large is-active" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_ADMIN'')')}" th:href="@{/users/}">Správa uživatelů</a>
            <a class="navbar-item is-large" th:if="${#authorization.expression('isAuthenticated()')}" style="color: #00d1b2;" th:href="@{/logout}">Odhlásit se</a>
            <a class="navbar-item is-large" th:if="${#authorization.expression('!isAuthenticated()')}" style="color: #00d1b2;" th:href="@{/login}">Přihlásit se</a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-half">
          <div class="image-container">
            <img src="/images/game.png" alt="Game">
          </div>
        </div>
        <div class="column is-half">

          <h1 class="title" th:text="${game.name}"></h1>

          <div class="attributes">
            <div class="attribute">
              <span class="attribute-name">Název hry:</span>
              <span class="attribute-value" th:text="${game.name}"></span>
            </div>
            <div class="attribute">
              <span class="attribute-name">Popis hry:</span>
              <span class="attribute-value" th:text="${game.description}"></span>
            </div>
            <div class="attribute">
              <span class="attribute-name">Pravidla hry:</span>
              <span class="attribute-value" th:text="${game.rules}"></span>
            </div>
            <div class="attribute">
              <span class="attribute-name">Maximální počet hráčů:</span>
              <span class="attribute-value" th:text="${game.maxPlayers}"></span>
            </div>
          </div>

          <div class="field is-grouped is-grouped-justified pt-3">
            <div class="control">
              <button class="button is-primary" onclick=window.location.href="/tournaments/"><i class="bi bi-chevron-double-left"></i>&nbsp;Zpět</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function goBack() {
    window.history.back();
  }
</script>
</body>
</html>