<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Mode Layout</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>

<h1>List of all Cars:</h1>

<a th:href="@{'/game/create'}">CREATE NEW GAME</a>
<br>

<ul>

    <li th:each="game: ${games}">
        <a th:text="${game.title}" th:href="@{'/game/detail/' + ${game.id}}">

        </a>
    </li>

</ul>

<section class="hero is-dark is-fullheight">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="#">
                        <!-- Zvětšené logo -->
                        <img src="/images/logo.png" alt="Logo" style="max-height: 10rem;">
                    </a>
                    <span class="navbar-burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item is-large" th:if="${#authorization.expression('!isAuthenticated()')}" th:href="@{/tournaments/}">Turnaje</a>
                        <a class="navbar-item is-large" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_USER'')')}" th:href="@{/tournaments/}">Turnaje</a>
                        <a class="navbar-item is-large" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_ADMIN'')')}" th:href="@{/tournaments/}">Správa turnajů</a>
                        <a class="navbar-item is-large" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_USER'')')}" th:href="@{/registrations/}">Moje rezervace</a>
                        <a class="navbar-item is-large" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_ADMIN'')')}" th:href="@{/registrations/admin}">Správa rezervací</a>
                        <a class="navbar-item is-large" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_ADMIN'')')}" th:href="@{/users/}">Správa uživatelů</a>
                        <a class="navbar-item is-large" th:if="${#authorization.expression('isAuthenticated()')}" style="color: #00d1b2;" th:href="@{/logout}">Odhlásit se</a>
                        <a class="navbar-item is-large" th:if="${#authorization.expression('!isAuthenticated()')}" style="color: #00d1b2;" th:href="@{/login}">Přihlásit se</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Aktuální nabídka turnajů
            </h1>
            <h2 class="subtitle">
                Pokud se chcete na některý z turnajů přihlášit, je nutné se do aplikace přihlásit!
            </h2>

            <button class="button is-primary is-large" id="loginButton">Přihlášení</button>

            <!-- Modální okno -->
            <div class="modal" id="loginModal">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Přihlášení</p>
                        <button class="delete" aria-label="close" id="closeModal"></button>
                    </header>
                    <section class="modal-card-body">
                        <div class="field">
                            <label class="label">E-mail</label>
                            <div class="control">
                                <input class="input" type="email" placeholder="Vložte e-mail">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Heslo</label>
                            <div class="control">
                                <input class="input" type="password" placeholder="Vložte heslo">
                            </div>
                        </div>
                    </section>
                    <footer class="modal-card-foot">
                        <button class="button is-success">Přihlásit se</button>
                        <button class="button" id="cancelModal">Zrušit</button>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>