<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THE ROOM tournaments</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>

<section class="hero is-dark is-fullheight">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="/images/logo.png" alt="theRoom-logo" style="max-height: 8rem;">
          </a>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-large" th:if="${#authorization.expression('!isAuthenticated()')}" th:href="@{/tournaments/}">Turnaje</a>
            <a class="navbar-item is-large" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_USER'')')}" th:href="@{/tournaments/}">Turnaje</a>
            <a class="navbar-item is-large" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_ADMIN'')')}" th:href="@{/tournaments/}">Správa turnajů</a>
            <a class="navbar-item is-large is-active" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_USER'')')}" th:href="@{/registrations/}">Moje rezervace</a>
            <a class="navbar-item is-large is-active" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_ADMIN'')')}" th:href="@{/registrations/admin}">Správa rezervací</a>
            <a class="navbar-item is-large" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_ADMIN'')')}" th:href="@{/users/}">Správa uživatelů</a>
            <a class="navbar-item is-large" th:if="${#authorization.expression('isAuthenticated()')}" style="color: #00d1b2;" th:href="@{/logout}">Odhlásit se</a>
            <a class="navbar-item is-large" th:if="${#authorization.expression('!isAuthenticated()')}" style="color: #00d1b2;" th:href="@{/login}">Přihlásit se</a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">

      <div th:if="${param.confirmed}" class="notification is-success">
        <h2 class="subtitle">Registrace na turnaj byla potvrzena!</h2>
      </div>

      <div th:if="${param.canceled}" class="notification is-success">
        <h2 class="subtitle">Registrace na turnaj byla úspěšně zrušena!</h2>
      </div>

      <div th:if="${param.registration}" class="notification is-success">
        <h1 class="title">Registrace na turnaj proběhla úspěšně!</span></h1>
        <h2 class="subtitle">Seznam svých registrací můžete vidět v sekci Moje registrace.</span></h2>
      </div>

      <div th:if="${isFailRegistration}" class="notification is-danger">
        <h2 class="subtitle">Na danou událost už máte vytvořenou nezrušenou registraci!</h2>
      </div>

      <div th:if="${isFailRegistrationEnded}" class="notification is-danger">
        <h2 class="subtitle">Není možné se přihlásit na UKONČENÝ turnaj!</h2>
      </div>

      <div th:if="${isFailRegistrationZero}" class="notification is-danger">
        <h2 class="subtitle">Není možné se přihlásit na turnaj. Kapacita turnaje je plná!</h2>
      </div>

      <h1 class="title" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_USER'')')}">
        Seznam mých registrací na turnaje
      </h1>

      <h1 class="title" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_ADMIN'')')}">
        Seznam všech vytvořených rezervací na všechny dostupné turnaje
      </h1>

      <h2 class="subtitle" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_USER'')')}">
        Každou rezervaci je možné zrušit odkazem v pravém sloupci tabulky.
      </h2>

      <h2 class="subtitle" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_ADMIN'')')}">
        Každou rezervaci je možné zrušit nebo naopak potvrdit pomocí odkazů v pravém sloupci tabulky.
      </h2>

      <div class="table-container">
        <table class="table is-fullwidth is-dark is-reservation">
          <thead>
          <tr>
            <th>#</th>
            <th>Jméno a příjmení</th>
            <th>Datum vytvoření registrace</th>
            <th>Turnaj</th>
            <th>Datum konání turnaje</th>
            <th>Poznámka k registraci</th>
            <th>Stav registrace</th>
            <th></th>
            <th th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_ADMIN'')')}"></th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="registration : ${registrations}">
            <th th:text="${registration.id}"></th>
            <td><a style="color: #00d1b2; font-weight: bolder;" class="hover-underline is-link" th:href="@{'/users/detail/' + ${registration.user.id}}"><span style="font-weight: 400;" th:text="${registration.user.name + ' ' + registration.user.surname}"></span></a></td>
            <td style="color: #cccccc" th:text="${registration.date}"></td>
            <td><a style="color: #00d1b2; font-weight: bolder;" class="hover-underline is-link" th:href="@{'/tournaments/detail/' + ${registration.tournament.id}}"><span style="font-weight: 600" th:text="${registration.tournament.title}"></span></a></td>
            <td th:text="${registration.tournament.date}"></td>
            <td th:text="${registration.note}"></td>
            <td th:text="${registration.status}"></td>
            <td th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_ADMIN'')')}"><a style="color: #00d1b2; font-weight: bolder;" class="hover-underline is-link" th:href="@{'/registrations/confirm/' + ${registration.id}}">Potvrdit</a></td>
            <td><a style="color: #00d1b2; font-weight: bolder;" class="hover-underline is-link" th:href="@{'/registrations/cancel/' + ${registration.id}}">Zrušit</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<script>
  function navigateToTournamentDetail(tournamentId) {
    const baseUrl = '/tournaments/detail/';
    window.location.href = baseUrl + tournamentId;
  }
</script>

</body>
</html>