<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE ROOM tournaments</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>

<section class="hero is-dark is-fullheight">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="#">
                        <img src="/images/logo.png" alt="theRoom-logo" style="max-height: 8rem;">
                    </a>
                </div>

                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item is-large is-active" th:if="${#authorization.expression('!isAuthenticated()')}" th:href="@{/tournaments/}">Turnaje</a>
                        <a class="navbar-item is-large is-active" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_USER'')')}" th:href="@{/tournaments/}">Turnaje</a>
                        <a class="navbar-item is-large is-active" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_ADMIN'')')}" th:href="@{/tournaments/}">Správa turnajů</a>
                        <a class="navbar-item is-large" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_USER'')')}" th:href="@{/registrations/}">Moje rezervace</a>
                        <a class="navbar-item is-large" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_ADMIN'')')}" th:href="@{/registrations/admin}">Správa rezervací</a>
                        <a class="navbar-item is-large" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_ADMIN'')')}" th:href="@{/users/}">Správa uživatelů</a>
                        <a class="navbar-item is-large" th:if="${#authorization.expression('isAuthenticated()')}" style="color: #00d1b2;" th:href="@{/logout}">Odhlásit se</a>
                        <a class="navbar-item is-large" th:if="${#authorization.expression('!isAuthenticated()')}" style="color: #00d1b2;" th:href="@{/login}">Přihlásit se</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <div th:if="${param.login}" class="notification is-success">
                <h2 class="subtitle">Vítej, <span th:text="${welcome}">User</span>!</h2>
            </div>

            <div th:if="${param.registration}" class="notification is-success">
                <h1 class="title">Registrace na turnaj proběhla úspěšně!</span></h1>
                <h2 class="subtitle">Seznam svých registrací můžete vidět v sekci Moje registrace.</span></h2>
            </div>

            <div th:if="${isSuccessDelete}" class="notification is-success">
                <h2 class="subtitle">Turnaj byl úspěšně smazán!</h2>
            </div>

            <div th:if="${param.ended}" class="notification is-success">
                <h2 class="subtitle">Turnaj byl změněn na ukončený!</h2>
            </div>

            <h1 class="title">
                Aktuální nabídka turnajů
            </h1>
            <h2 class="subtitle">
                Pokud se chcete některého z turnajů zúčastnit, je nutné se do aplikace přihlásit!
            </h2>

            <div th:if="${#authorization.expression('!isAuthenticated()')}">
            <button class="button is-primary is-medium" id="loginButton" onclick=window.location.href="/login">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor"
                     class="mb-1 bi bi-person-check-fill" viewBox="0 0 14 14">
                    <path fill-rule="evenodd"
                          d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg>&nbsp;&nbsp;Přihlášení
            </button>
            </div>

            <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <button class="button is-primary" onclick=window.location.href="/tournaments/create">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24"><path fill="#fff" d="M21 14v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5v2H5v14h14v-5z"/><path fill="#fff" d="M21 7h-4V3h-2v4h-4v2h4v4h2V9h4z"/></svg>
                    &nbsp;&nbsp;Vytvořit nový turnaj
                </button>
            </div>

            <div class="table-container">
                <table class="table is-fullwidth is-dark">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Název</th>
                        <th>Datum konání</th>
                        <th>Volný počet míst</th>
                        <th>Hra</th>
                        <th>Místo uskutečnění turnaje</th>
                        <th th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_USER'')')}">Typ</th>
                        <th>Stav</th>
                        <th th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_ADMIN'')')}"></th>
                        <th th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_USER'')')}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tournament : ${tournaments}" th:onclick="|navigateToTournamentDetail('${tournament.id}')|">
                        <th th:text="${tournament.id}"></th>
                        <td style="font-weight: 600" th:text="${tournament.title}"></td>
                        <td style="color: #cccccc"th:text="${tournament.date}"></td>
                        <td style="font-weight: 800" th:text="${tournament.freePlaces}"></td>
                        <td><a style="color: #00d1b2; font-weight: bolder;" class="hover-underline is-link" th:href="@{'/games/detail/' + ${tournament.game.id}}"><span style="font-weight: 600" th:text="${tournament.game.name}"></span></a></td>
                        <td th:text="${tournament.location}"></td>
                        <td th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_USER'')')}" th:text="${tournament.type}"></td>
                        <td th:text="${tournament.status}"></td>
                        <td th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_ADMIN'')')}">
                            <a th:if="${tournament.status == T(java.lang.Enum).valueOf(T(cz.uhk.fim.kppro.kppro_theroomgameorganizer.enums.TournamentStatus), 'PLÁNOVANÝ') || tournament.status == T(java.lang.Enum).valueOf(T(cz.uhk.fim.kppro.kppro_theroomgameorganizer.enums.TournamentStatus), 'PROBÍHÁ')}"
                               style="color: #00d1b2; font-weight: bolder;" class="hover-underline is-link" th:href="@{'/tournaments/end/' + ${tournament.id}}">
                                Ukončit
                            </a>
                            <a th:if="${tournament.status == T(java.lang.Enum).valueOf(T(cz.uhk.fim.kppro.kppro_theroomgameorganizer.enums.TournamentStatus), 'UKONČENÝ')}"
                               style="color: #00d1b2; font-weight: bolder;" class="hover-underline is-link" th:href="@{'/tournaments/' + ${tournament.id} + '/results'}">
                                Zapsat výsledky
                            </a>
                        </td>
                        <td th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_USER'')')}">
                            <a th:if="${tournament.status == T(java.lang.Enum).valueOf(T(cz.uhk.fim.kppro.kppro_theroomgameorganizer.enums.TournamentStatus), 'UKONČENÝ')}"
                               style="color: #00d1b2; font-weight: bolder;" class="hover-underline is-link" th:href="@{'/tournaments/' + ${tournament.id} + '/results'}">
                                Zobrazit výsledky
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script>
    function navigateToTournamentDetail(tournamentId) {
        const baseUrl = '/tournaments/detail/';
        window.location.href = baseUrl + tournamentId;
    }
</script>

</body>
</html>