<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THE ROOM tournaments</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>

<section class="hero is-dark is-fullheight">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="/images/logo.png" alt="theRoom-logo" style="max-height: 8rem;">
          </a>
          <span class="navbar-burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-large" th:if="${#authorization.expression('!isAuthenticated()')}" th:href="@{/tournaments/}">Turnaje</a>
            <a class="navbar-item is-large" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_USER'')')}" th:href="@{/tournaments/}">Turnaje</a>
            <a class="navbar-item is-large" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_ADMIN'')')}" th:href="@{/tournaments/}">Správa turnajů</a>
            <a class="navbar-item is-large" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_USER'')')}" th:href="@{/registrations/}">Moje rezervace</a>
            <a class="navbar-item is-large" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_ADMIN'')')}" th:href="@{/registrations/admin}">Správa rezervací</a>
            <a class="navbar-item is-large is-active" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_ADMIN'')')}" th:href="@{/users/}">Správa uživatelů</a>
            <a class="navbar-item is-large" th:if="${#authorization.expression('isAuthenticated()')}" style="color: #00d1b2;" th:href="@{/logout}">Odhlásit se</a>
            <a class="navbar-item is-large" th:if="${#authorization.expression('!isAuthenticated()')}" style="color: #00d1b2;" th:href="@{/login}">Přihlásit se</a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">

      <div th:if="${param.confirmed}" class="notification is-success">
        <h2 class="subtitle">Rezervace na turnaj byla potvrzena!</h2>
      </div>

      <div th:if="${param.canceled}" class="notification is-success">
        <h2 class="subtitle">Rezervace na turnaj byla úspěšně zrušena!</h2>
      </div>

      <div th:if="${param.registration}" class="notification is-success">
        <h1 class="title">Registrace na turnaj proběhla úspěšně!</h1>
        <h2 class="subtitle">Seznam svých registrací můžete vidět v sekci Moje registrace.</h2>
      </div>

      <div th:if="${isSuccessDeleteUser}" class="notification is-success">
        <h2 class="subtitle">Uživatel byl úspěšně smazán!</h2>
      </div>

      <div th:if="${isFailDeleteUser}" class="notification is-danger">
        <h2 class="subtitle">Není možné smazat administrátora systému nebo právě přihlášeného uživatele.</h2>
      </div>

      <h1 class="title" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_ADMIN'')')}">
        Seznam uživatelů v systému <span style="color: #00d1b2">THE ROOM GAMES ORGANIZER</span>
      </h1>

      <div class="table-container">
        <table class="table is-fullwidth is-dark is-reservation">
          <thead>
          <tr>
            <th>#</th>
            <th>Jméno</th>
            <th>Příjmení</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role v systému</th>
            <th></th>
            <th th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_ADMIN'')')}"></th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="user : ${users}" th:onclick="|navigateToUserDetail('${user.id}')|">
            <th th:text="${user.id}"></th>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role}"></td>
            <td></td>
            <td><a style="color: #00d1b2; font-weight: bolder;" class="hover-underline is-link" th:href="@{'/users/delete/' + ${user.id}}">Smazat</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<script>
  function navigateToUserDetail(userId) {
    const baseUrl = '/users/detail/';
    window.location.href = baseUrl + userId;
  }
</script>

</body>
</html>